* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --preto:#111111;
	--rosaescuro:#b80f7a;
	--rosahover:#8a085a;
	--branco: #FFFFFF;
}

html, body{
	height: 100%; 
}

body {
 	background: var(--preto);
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: var(--branco);
}

/***** MENU *****/
.menu {
	padding: 1% 0;
	background: linear-gradient(180deg, var(--preto), var(--rosaescuro));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.menu a {
	color: var(--branco);
	text-decoration: none;
	margin: 0 1%;
}

a:hover {
	color: var(--rosaescuro);
}

/***** FOTO E APRESENTAÇÃO *****/
header {
	width: 100%;
	padding: 2%;
	margin-bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
  
.container {
	display: flex;
	justify-content: center;
}

.container h1 {
    text-align: center;
    color: var(--rosaescuro);

    font-size: 4.80em;
	font-weight: 100;
	padding-bottom: 5%;
    animation: neon-glow 1.5s infinite alternate;
}
  
.direitafoto {
	width: 40%;
	margin: auto auto;
}
  
.esquerda {
	width: 60%;
	margin: 0 auto;
}

.esquerda ul {
    list-style: none; 
    padding: 5%;
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

.esquerda ul li {
    margin: 0 1%; 
}

.texto {
	align-self: center;
	padding-left: 0.5%;
}

/***** BIOGRAFIA ******/
#foto-perfil{
	max-height: 80%; 
	max-width: 80%;
	border-radius: 50%;
	margin: auto;
	display: block;
    animation: pulse-border 2s infinite alternate;
}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 10px var(--rosaescuro);
    }
    50% {
        box-shadow: 0 0 25px var(--rosaescuro);
    }
    100% {
        box-shadow: 0 0 10px var(--rosaescuro);
    }
}

@keyframes neon-glow {
    0% { text-shadow: 0 0 5px var(--rosaescuro), 0 0 10px var(--rosaescuro), 0 0 20px var(--rosaescuro); }
    50% { text-shadow: 0 0 10px var(--rosaescuro), 0 0 20px var(--rosaescuro), 0 0 30px var(--rosaescuro); }
    100% { text-shadow: 0 0 5px var(--rosaescuro), 0 0 10px var(--rosaescuro), 0 0 20px var(--rosaescuro); }
}

h3{
	text-align: center;
	font-size: 2.80em;
	font-weight: 450;
	letter-spacing: -0,04em;
	padding: 2%;
}

ul {
	list-style: none;
	margin: 0px 1%;
}

p {
	font-size: 1.25rem;
    display: block;
    font-weight: 30%;
    padding: AUTO;
}

p b {
    color: var(--rosaescuro);
}

.projetos a {
    text-decoration: none; 
    color: inherit;
    display: block;
}

.projetos a:visited {
    color: inherit; /* Mantém a cor após a visita */
}


/******************* CONHECIMENTOS *******************/
.quadrados  {
	justify-content: center;
	align-items: center;
	color: white;
	display: flex;
	gap: 20px;
}

.quadro {
	height: 100px;
	border-bottom: 5px solid var(--rosaescuro);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.quadro h4 {
	text-align: center;
}

.quadro img {
	width: 80px;
	height: 80px;
}

.quadro:hover{
	border: none;
	transition: background-color 0.3s ease;

}

.informacoes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5%;
	padding: 3%;
}

/******************* SERVIÇOS *******************/
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2%;
    width: 100%;
}


.tiposervico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1%;
    padding: 1%;
    width: 80%;
    max-width: 100%;
    border: 1px solid var(--rosaescuro);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0.5%;
    font-size: 20px;
}

.titulo i {
    color: var(--rosaescuro);
}

.tiposervico p {
    font-size: 1.2rem;
    margin-top: 0.5%;
}


/******************* MEU PROJETOS E AVALIAÇÕES *******************/
.projetos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 1%;
    margin: auto;
    max-width: 100%; 
}

.projetos > div {
    flex: 0 0 calc(20% - 20px); 
    margin: 3%;
}

.titulo-projeto {
    font-size: 2em;
    margin-bottom: 2%;
    color: white;
}

.imagem-projeto {
    width: 100%; 
    max-height: 160px;
    margin-bottom: 2%;
}

.perfil-comentario {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto; 
}

.foto-perfil {
    width: 20%;
    height: 20%;
    border-radius: 50%; 
    object-fit: cover;
}

.comentario-avaliacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comentario {
    font-size: 1rem;
    margin-bottom: 1%;
    color: #fff;
}

.avaliacao i {
    color: gold;
    margin-right: 0.5%;
}

/*********** clicavel **********/
.imagem-container {
    position: relative; 
    cursor: pointer; 
}

.imagem-projeto {
    width: 100%; 
    height: auto;
    margin-bottom: 2%;
    display: block; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center; 
    align-items: center; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.imagem-container:hover .overlay {
    opacity: 1;
}

.overlay i {
    color: white;
    font-size: 2rem;
}
