.botao {
	border-radius: 50px;
	cursor: pointer;
	background-color: var(--rosaescuro);
	padding: 1.3%;
	color: var(--branco);
	width: 50%;
	margin: 0 auto; 
	display: block; 
	text-align: center; 
	font-size: 30px;
	border: none;
    margin-top: 0.5%;
    box-shadow: 0 0 5px var(--rosaescuro),
    0 0 25px var(--rosaescuro);
}

.botao:hover {
    background-color: var(--rosahover);
    transition: background-color 0.3s;

    box-shadow: 0 0 5px var(--rosahover),
    0 0 25px var(--rosahover),
    0 0 100px var(--rosahover);
}

p {
	font-size: 1.25rem;
    display: block;
    font-weight: 30%;
    padding: AUTO;
}

p b {
    color: var(--rosaescuro);
}


footer {
    background: linear-gradient(180deg, var(--rosaescuro), var(--preto));
    padding: 2%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* BLOCO DA ESQUERDA */
.footer-esquerda {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.footer-texto {
    padding: 0.5rem;
    max-width: 200px;
    word-break: break-word;
}

/* TEXTO CENTRAL */
.footer-centro {
    flex: 1;
    text-align: center;
}

/* ÍCONES À DIREITA */
.footer-icones {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-icones ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ==================================== Responsividade ======================================*/
@media screen and (max-width: 550px) {
    .container h1 {
        font-size: 1em !important;
    }

    .texto p {
        text-align: center;
    }

    .projetos {
        flex-direction: column; /* empilha os filhos */
        align-items: center; /* centra os filhos na direção da coluna */
    }

    .projetos > div {
        flex: none; /* remove flex grow/shrink */
        width: 90%; /* ocupa 90% da largura do container */
        
        margin: 10px 0; /* espaçamento vertical */
    }

    .quadrados {
        flex-wrap: wrap !important; 

        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        gap: 20px;
    }

    .quadro {
        width: calc(25% - 20px)!important; 
        height: 100px !important; 
        box-sizing: border-box !important; 

        height: 100px;
        border-bottom: 5px solid var(--rosaescuro);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .informacoes div {
        flex-direction: column; 
        margin: 10px 0 !important;
    }

}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-esquerda,
    .footer-centro,
    .footer-icones {
        justify-content: center;
        margin-top: 1rem;
    }

    .footer-texto {
        max-width: 100%;
        text-align: center;
    }

    .quadrados {
        flex-wrap: wrap !important; 

        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        gap: 20px;
    }

    .quadro {
        width: calc(25% - 20px)!important; 
        height: 100px !important; 
        box-sizing: border-box !important; 

        height: 100px;
        border-bottom: 5px solid var(--rosaescuro);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .informacoes div {
        flex-direction: column; 
        margin: 10px 0 !important;
    }
}

@media screen and (max-width: 1000px) {
    .container h1 {
        font-size: 2em !important;

        width: 100%;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .texto p {
        text-align: center;
    }

    .quadrados {
        flex-wrap: wrap !important; 

        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        gap: 20px;
    }

    .quadro {
        width: calc(25% - 20px)!important; 
        height: 100px !important; 
        box-sizing: border-box !important; 

        height: 100px;
        border-bottom: 5px solid var(--rosaescuro);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .informacoes div {
        flex-direction: column; 
        margin: 10px 0 !important;
    }

}

@media screen and (max-width: 1163px) {
    .esquerda h3 { /* Nome */
        text-align: center;
        font-size: 2.2em !important; /* Ajustado para uma transição mais suave */
        font-weight: 450;
        letter-spacing: -0.04em; /* Corrigido para o formato correto */
        padding: 2%;
    }

    .esquerda h1 { /* Programadora Back-End */
        font-size: 2.5em !important;; /* Ajustado para uma transição mais suave */
        min-width: 100px;
    }

    .container { /* Foto em cima do texto */
        flex-direction: column;
        justify-content: center;
        max-width: 1200px; 
        margin: 0 auto;
    }
    
    .container h1 {
        font-size: 3em !important;;
        text-align: center;
        color: orange;
    }

    .texto p {
        text-align: center;
    }

    .quadrados {
        flex-wrap: wrap !important; 

        justify-content: center;
        align-items: center;
        color: white;
        display: flex;
        gap: 20px;
    }

    .quadro {
        width: calc(25% - 20px)!important; 
        height: 100px !important; 
        box-sizing: border-box !important; 

        height: 100px;
        border-bottom: 5px solid var(--rosaescuro);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

}

@media screen and (max-width: 1896px) {
    .esquerda h3 {
        text-align: center;
        font-size: 2.8em !important;
        font-weight: 450;
        letter-spacing: -0.04em;
        padding: 2%;
    }

    .esquerda h1 {
        font-size: 4.2em !important; 
    }
}


/******************* BARRA DE NAVEGAÇÃO *******************/
nav {
  background: linear-gradient(90deg, var(--preto), var(--rosaescuro));
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--rosaescuro);
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
}

/* MENU */
ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

/* HAMBURGUER */
.menu-toggle {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #222;
    flex-direction: column;
    display: none;
  }

  ul li {
    text-align: center;
    padding: 15px 0;
  }

  .menu-toggle {
    display: block;
  }

  ul.active {
    display: flex;
  }
}